header {
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  color: #784212;
  text-shadow: 1px 1px 5px #111111;
  font-weight: bold;
}

ul li {
  font-family: Georgia;
  font-size: 12px;
  list-style-type: circle;
}

p {
  font-family: Georgia;
  font-size: 12px;
  text-indent: 35px;
  line-height: 1em;
}

h1 {
   font-family: Verdana;
   color: #E59866;
}

h1 + p {
  text-indent: 5px;
  font-size: 15px;
  font-style: italic;
}


 h2, h3 {
   font-family: Verdana;
   color: #58D68D;
}

 h4{
     font-family: Verdana;
     color: #F6DDCC;
}

 /*h4:nth-child(2) {
     color: red;
}*/

 div {
   display: inline-block;
   border: solid 1px black;
   margin: 2px;
   width: 135px;
   height: 40px;
   text-align: center;
   padding-top: 13px;
   font-weight: bold;
   color: 86, 101, 115;
}

 #data {
   font-family: Courier-new;
   text-indent: 5px;
   font-size: 15px;
}

.color1 {
  background-color:#784212;
}
.color2 {
  background-color:#E59866;
}
.color3 {
  background-color:#F6DDCC;
}
.color4 {
  background-color:#D5F5E3;
}
.color5 {
  background-color:#58D68D;
}
.color6 {
  background-color:#7DCEA0;
}
th , tr, td{
  border: 1px solid black;
  border-spacing: 2px solid black;
  background-color: #D5F5E3;
  empty-cells; hide;
}
th {
  color: #E59866;
}
img {
  width: 400px;
  }
  body{
    background-image: url ("https://raw.githubusercontent.com/mark-fitzgerald/code-201-n6/master/week_3-4/assets/salmon.png"):
    background-repeat: repeat-y:
    background-attachment: scroll;
  
  }
